{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    <div class='row'>
	    <div class='col-md-6'>
	    	{{ form_row(form.utilisateur) }}
	    </div>
	    <div class='col-md-6'>
	    	{{ form_row(form.chantier) }}
	    </div>
	    <div class='col-md-6'>
	    	{{ form_row(form.duree) }}
	    </div>
    </div>
    <div class='text-right'>
    	<button class="btn btn-primary btn-sm">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}